In [1]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [2]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for dict_school in high_school_types:
    print(dict_school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [3]:
import pandas as pd

In [25]:
school_series=pd.Series(high_schools)
school_series

0                                           Hernandez High School
1                                            Figueroa High School
2                                              Wilson High School
3                                              Wright High School
High schools    [Hernandez High School, Figueroa High School, ...
dtype: object

In [8]:
for school in (high_schools):
    print (school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [9]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [14]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [18]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()
# Add the list to a new DataFrame.
x = ["school id", "school name", "type"]
for y in x:
    if y == "school id":
        schools_df[y] = school_id
    elif y=="school name":
        schools_df[y]=school_name
    else:
        schools_df[y]=type_of_school

# Print the DataFrame.
schools_df

   school id            school name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [28]:
# Create a dictionary of information on high schools.

schools_df = pd.DataFrame()
school_id = [0, 1, 2, 3, 4]
school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]
type_of_school = ["District", "District", "Charter", "District","Charter"]
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
for key, value in high_schools_dict.items():
    schools_df[key] = value  
print(schools_df)

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [27]:
import pandas as pd
schoolID = [0,1,2,3,4,5,]
schoolName = ["huang high","figueroa high", "shelton high", "hernandez high", "griffin high", "wilson high"]
typeSchool = ["district","district", "charter", "district","charter", "charter"]

schoolDF = pd.DataFrame()
schoolDF["school id"] = schoolID
schoolDF["school name"]= schoolName
schoolDF["school type"]= typeSchool
schoolDF

   school id     school name school type
0          0      huang high    district
1          1   figueroa high    district
2          2    shelton high     charter
3          3  hernandez high    district
4          4    griffin high     charter
5          5     wilson high     charter